<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="Hippodrome">
    <Appenders>
        <RollingFile name="RollingFile"
                     fileName="logs/rpg.log"
                     filePattern="logs/rpg.%d{dd-MM-yyyy}.log">
            <PatternLayout>
                <pattern>%d{dd-MM-yyyy HH:mm:ss,SSS} %-5level %c{1}: %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30">
                <Delete basePath="logs/" maxDepth="2">
                    <IfFileName glob="*/rpg-*.log" />
                    <IfLastModified age="7d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="com.example.rpg" level="debug" additivity="false">
            <AppenderRef ref="RollingFile"/>
        </Logger>

        <Root level="debug">
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>